:root {
    --item-height: 5vh;
}

.GridParent {
    display: flex;
    justify-content: center;
}

.GridContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: calc(10 * var(--item-height));
    border: 2px solid black;
}

.GridRow {
    display: flex;
    flex-direction: row;
}

.GridItem {
    flex: 1;
    height: var(--item-height);
    border-radius: 7px;
}

.GridItemColor-R {
    background: red;
    box-shadow: -2px -2px 2px 2px inset #565656, 2px 2px 2px 2px inset white;
}

.GridItemColor-G {
    background: green;
    box-shadow: -2px -2px 2px 2px inset #565656, 2px 2px 2px 2px inset white;
}

.GridItemColor-B {
    background: blue;
    box-shadow: -2px -2px 2px 2px inset #565656, 2px 2px 2px 2px inset white;
}

.GridItemColor-OR {
    background: orangered;
    box-shadow: -2px -2px 2px 2px inset #565656, 2px 2px 2px 2px inset white;
}
